#error_box
{
    background-color: red;
    width:100%;
    height:5rem;
    border: 2px solid brown;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#info_box
{
    background-color:orange;
    width:100%;
    height:5rem;
    border: 2px solid brown;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}