/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contact-title{
    text-align: left; 
    padding-top: 4.375rem;
    padding-bottom: 1.875rem;
    padding-left: 21.875rem; 
    font-size: 2.188rem;
}

#subtitle{
    text-align: left;
    padding-left: 21.875rem;
    font-size: 20px;
}

.wrapper{
    width:30%;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: #333;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding:10px 40px;
    margin-left: 1000px;
    height: 50%;
}

form .row {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.inputs{
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form input, form select, form textarea, form label {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

form input, form select, form textarea{
    border: 1px solid #ccc;
}

form textarea{
    margin-top: 10px;

}

#contactForm label{
    display: flex;
    flex-direction: column;
}

.inputPair {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

form #contSubmit {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

form button:hover {
    background-color: #555;
}