@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.exitCross::after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
    font-size: 3.063rem;
    width: 0.1%;
    height: 0.1%;
    margin-top: 0.5rem;
}

body{
    background-color: #d2d2d2;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size:contain;
    background-position: center;

}

#header1, #header2{
    padding-top: 1.25rem;
    text-align: center;
}

#login{
    width: 100%;
    margin-left: 30%;
}

.wrapper{
    width:420px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 50px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    color: #333;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 10px;
    padding:10px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper .text-input{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.text-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
}

.text-input input::placeholder{
    color: black;
}

.text-input input{
    padding-left: 20px;
    font-size: 15px;
    background: transparent;
}

#persist_login
{
text-align: center;
}
#submit
{
    width: 50%;
    -ms-transform: translate(50%, 5%);
    transform: translate(50%, 5%);
    height: 35px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

}


.forgotPassword{
    text-align: center;
    padding-bottom: 10px;
    
}

.wrapper .register{
    color:black;
    padding-top:15px;
}

.wrapper .register a{
    color:black;
    font-weight: bold;
    text-decoration: none;
}

.wrapper .register a:hover{
    text-decoration:underline;
}

.forgotPassword a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.forgotPassword a:hover{
    text-decoration: underline;
}



.wrapper .forgotPassword p {
    transform: (translate(50%, 0%));
}

#lgnbtn, #sbtn {
    margin-top: 1.875rem;
    background-color: grey;
    border-radius: 0.75rem;
    width: 12.5rem;
}

#fname {
    width: 37.5rem;
    margin-top: 0.625rem;
}

#lname {
    width: 3rem;
    margin-top: 0.625rem;
}

#spass {
    width: 37.5rem;
    margin-top: 0.625rem;
}

#spass2 {
    width: 37.5rem;
    margin-top: 0.625rem;
}

#check{
    text-align: left;
    font-size: 0.75rem;
    margin-left: -23.125rem;
}



#newUserText
{
    text-align: center;
}