

*
{
    margin:0;
    padding:0;
    box-sizing: border-box
}









#product_image
{
    width:100%;
    height:100%;
}

#product
{
    width:80%;
    height:90%;
    display:grid;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
    grid-template-areas: "";
}

#basket_button
{
    background-color: #03fc98;
    height:2rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    width:100%;
    border: none;
}



#image_container
{
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 1;
    grid-row-end:2;
}

#content
{
    margin-left:2rem;
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start:1;
    grid-row-end:2;
    justify-content: center;
    display:flex;
    flex-flow: column;
}
#title
{
    text-align: center;
}
#rating_summary
{
    background-size: 2px;

    display:flex;
    justify-content: left;
    align-items: center;
}
#rating_summary > b
{
    color:yellow;
    font-size: 2rem;
}
#review_text
{
    width:100%;
    display: block;
    height: 7rem;
    resize: none;
    overflow: scroll;
    
}
#rating
{
    display:block;
    width:100%;
}
#review_form
{
    display: none;
    width: 20%;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 0.3rem solid black;
    border-radius: 2rem;
    padding: 3rem;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

#review_form > .input
{
    margin: 1rem;
    width:100%;
}
#review_submit
{
    background-color: green;
    border: 0.1rem solid black;
    border-radius: 5rem;
    width:100%;
}
.star
{
    width:3rem;
    height:3rem;
}

#review_button
{
    border: 0.2rem solid black;
    background-color: white;
    height:3rem;
    float:left;
    padding: 0.5rem;
    border-radius: 5rem;
}
.review
{
    border: 0.2rem solid black;
    padding: 1rem;
    margin: 0.6rem 0;
    width:100%
}
#star_container
{
    margin: 0 2rem;
    width: 20rem;
}
#reviews
{
    display:flex;
    flex-direction: column;
    width:100%;

}