body {
    background-color: #d2d2d2 !important;
}

#header1, #header2{
    text-align: center;
}
#mail {
    width: 600px;
    margin-top: 40px;
}

#mail2 {
    width: 600px;
    margin-top: 10px;
}

#pass {
    width: 600px;
    margin-top: 10px;
}

#pass2{
    text-align: right;
    font-size: 12px;
    margin-right: 350px;
}

#lgnbtn, #sbtn {
    margin-top: 30px;
    background-color: grey;
    border-radius: 12px;
    width: 200px;
}

#fname {
    width: 600px;
    margin-top: 10px;
}

#lname {
    width: 600px;
    margin-top: 10px;
}

#spass {
    width: 600px;
    margin-top: 10px;
}

#spass2 {
    width: 600px;
    margin-top: 10px;
}

#check{
    text-align: left;
    font-size: 12px;
    margin-left: -370px;
}