@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d2d2d2 !important;
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
  }


.filter-sidebar{
    padding-top: 1.563rem;
    margin-left: 22.313rem;
    padding-left: 1rem;
    width: 17.625rem;
    height: 42.438rem;
    min-height: 12.5rem;
    position: -webkit-sticky;
    position: sticky;
    top: 5%;
}

.filter-sidebar p{
    text-align: left;
    padding: 0.313rem;
}

.main-content{
    margin-right: 22.375rem;
    width: 46.8%;
    height: 42.438rem;
    min-height: 12.5rem;
    display: flex;
    flex-direction: column;
}

.main-content,
.filter-sidebar {

    background-color: FFFFFF;
   
    padding: 0.938rem;
}

.wrapper {
    display: flex;
    justify-content: space-between;
  }


.title{
    text-align: left; 
    padding-top: 4.375rem;
    padding-bottom: 1.875rem;
    padding-left: 21.875rem; 
    font-size: 2.188rem;
}